# /etc/systemd/system/testify-ct-external-proxy.service

[Unit]
Description=Testify External Proxy
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes

WorkingDirectory=/opt/testify/docker/external-proxy/

ExecStart=/usr/local/bin/docker-compose -f /opt/testify/docker/external-proxy/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose -f /opt/testify/docker/external-proxy/docker-compose.yml stop

[Install]
WantedBy=multi-user.target
